<div class="container margenes">
    <div class="row">
        <div class="col">
         <p class="text-end"> bienvenido {{persona}} <a href="" class="btn btn-primary">cerrar sesion <i class="fa-solid fa-right-from-bracket"></i></a></p>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-7">
            <h2>listado de novedades</h2>
    </div>
    <div class="col-5 text-end">
        <a href="/admin/novedades/agregar" class="btn btn-secondary"><i class="fa-solid fa-plus"></i> nuevo</a>
    </div>
</div>

    <div class="row">
        <div class="col">
            <table class="table">
  <thead>
    <tr class="table-dark">
      <th scope="col">#</th>
      <th scope="col">titulo</th>
      <th scope="col" class="text-end">acciones</th>
    </tr>
  </thead>
  <tbody>
    {{#each novedades}}
    <tr class="table-light">
      <th scope="row">{{id}}</th>
      <td>{{titulo}}</td>
      <td class="text-end">
        <a href="/admin/novedades/modificar/{{id}}"><i class="fa-solid fa-pen-to-square"></i></a>
        <a href="/admin/novedades/eliminar/{{id}}"><i class="fa-solid fa-trash-can"></i></a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

        </div>
    </div>



